<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Educational Website</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        
{{>navbar}}
    </header>
    <div class="sub-menu">
        <div class="menu">
           
            <ul>
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark"></i>
                <li><a href="#">electrical</a></li>
                <li><a href="#">amplifire</a></li>
                <li><a href="#">transformers</a></li>
                <li><a href="#">speakers</a></li>
                <li><a href="#"> motors</a></li>
                <li><a href="#"> led</a></li>
                <li><a href="#">welding</a></li>
                <li><a href="#"> sound coil</a></li>
                <li><a href="#"> stablizer</a></li>


            </ul>
        </div>
    </div>

    <main>
        <section id="home">
            <div id="searchResults">
                <!-- Search results will be displayed here -->
            </div>
            <h2>Welcome to Our Educational Website</h2>
            <p>This is a sample educational website template.</p>
        </section>
        <section id="courses">
            <h2>Our Courses</h2>
            <ul>
                <li>Course 1</li>
                <li>Course 2</li>
                <li>Course 3</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Educational Website</p>
    </footer>
    <script src="js/index.js"></script>
</body>

</html>