<nav>
            <div class="navbar">
                <div class="logo">Logo</div>
                <div class="dropdown">
                    <a href="#">Menu <i class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#">Home </a>
                        <a href="#">Practice </a>
                        <a href="#">tips </a>
                        <a href="#">Images </a>
                        <a href="#">Videos </a>
                        <a href="#">Contact us </a>
                        <a href="#">About us </a>

                    </div>
                </div>
                <div class="menu">
                
                    <ul>
                    
                        <li><a href="/">Home</a></li>
                        <li><a href="about">Practice</a></li>
                        <li><a href="#">tips</a></li>
                        <li><a href="#">Images</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">About Us</a></li>

                    </ul>
                </div>
                <div class="search-container">
                    <input type="text" id="searchInput" placeholder="Search Headings">
                    <button id="searchButton">Search</button>
                </div>
            </div>
        </nav>